{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sinta Pertaru</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'assets/images/logo-transparent.ico' %}"/>

    <link rel="stylesheet" href="{% static 'assets/css/backend-plugin.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/backend.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/global.css' %}">
    <link rel="stylesheet"
          href="{% static 'assets/vendor/font-awesome-animation-1.1.1/package/css/font-awesome-animation.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/font-awesome-5/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/Semantic-UI-master/dist/semantic.min.css' %}">
    <style>
        .navbar ul li a, .navbar img {
            cursor: pointer;
        }
    </style>
</head>
<body class="">
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">
    <nav class="navbar navbar-expand-lg navbar-light basic-drop-shadow position-sticky fixed-top"
         style="background-color: #242424;">
        <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <img class="image ml-lg-5" src="{% static 'assets/images/logo-transparent.png' %}" width="50" alt=""
             onclick="location.href='{% url 'view_index' %}'">
        <a href="{% url 'view_index' %}"><span class="text-white font-size-20 font-weight-bold">Sinta Pertaru</span></a>
        <div class="collapse navbar-collapse p-2" id="navbarTogglerDemo03" style="background-color: #242424;">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            </ul>
            <ul class="nav justify-content-end align-items-lg-center mr-xl-5 font-size-16">
                <li class="nav-item mr-lg-2">
                    <a class="homeNavbarBtn nav-link text-white">Beranda</a>
                </li>
                <li class="nav-item mr-lg-2">
                    <a class="serviceNavbarBtn nav-link text-white">Layanan</a>
                </li>
                <li class="nav-item mr-lg-2">
                    <a class="helpCenterNavbarBtn nav-link text-white">Pusat Bantuan</a>
                </li>
                <li class="nav-item">
                    <button class="btn btn-outline-light rounded-pill"
                            onclick="location.href='{% url 'view_login' %}'">
                        Masuk
                    </button>
                </li>
            </ul>
        </div>
    </nav>
    <div class="iq-comingsoon bg-white">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <img src="{% static 'assets/images/logo-dark-transparent.png' %}"
                         class="img-fluid  rounded-normal w-25 pt-5"
                         alt="logo">
                    <p class="mt-4 font-size-32 font-weight-bold mb-1">
                        Selamat Datang di Beranda Sinta Dinas Pertanahan dan Tata Ruang</p>
                    <button class="homeNavbarBtn btn btn-outline-dark rounded-pill mt-4 mb-0">
                        Cari Tahu Lebih Lanjut
                        <i>
                            <svg width="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M19.5 5.25l-7.5 7.5-7.5-7.5m15 6l-7.5 7.5-7.5-7.5"></path>
                            </svg>
                        </i>
                    </button>
                </div>
                <div class="col-md-8 shadow-sm rounded-pill mt-4 p-4">
                    <div class="row mb-4" id="homeSection">
                        <div class="col-md-5">
                            <img src="https://creazilla-store.fra1.digitaloceanspaces.com/vectors/76755/question-vector-md.jpeg"
                                 class="align-self-center mr-3 img-fluid rounded" alt="#" width="300">
                        </div>
                        <div class="col-md-7">
                            <p class="font-size-20 font-weight-bold mt-2 mb-2">Mengenal Sinta Pertaru</p>
                            <p>Sinta Pertaru merupakan sebuah layanan digital berupa aplikasi <i>web</i> yang
                                dapat
                                digunakan untuk keperluan tugas Dinas Pertanahan dan Tata Ruang Kabupaten
                                Sleman.</p>
                            <button class="btn btn-dark btn rounded-pill"
                                    onclick="location.href='{% url 'view_signup' %}'">Daftar Sekarang
                            </button>
                            <a class="ml-2 mr-2">atau</a>
                            <button class="btn btn-dark btn rounded-pill"
                                    onclick="location.href='{% url 'view_login' %}'">Masuk
                            </button>
                        </div>
                    </div>
                    <div class="row mb-4" id="serviceSection">
                        <div class="col-md-12">
                            <p class="font-size-20 font-weight-bold mt-2 mb-2">Layanan</p>
                            <p>Gunakan Berbagai Fasilitas dengan layanan yang mudah</p>
                            <div class="row">
                                <div class="col-md-4 pt-2 text-center">
                                    <img class="align-self-center mr-3 img-fluid rounded"
                                         src="{% static 'assets/images/logo-dark-transparent.png' %}"
                                         width="100" alt="">
                                    <p class="font-size-16 font-weight-bold mt-2 mb-2">Analisis Kesesuaian Lahan</p>
                                    <p>Cari prediksi terbaik untuk kesesuaian lahan</p>
                                </div>
                                <!--                                         src="https://i.pinimg.com/originals/cb/53/d6/cb53d64ab92af6ef49098ece2976ea5e.jpg"-->
                                <div class="col-md-4 pt-2 text-center">
                                    <img class="align-self-center mr-3 img-fluid rounded"
                                         src="{% static 'assets/images/logo-dark-transparent.png' %}"
                                         width="100" alt="">
                                    <p class="font-size-16 font-weight-bold mt-2 mb-2">Sistem Informasi Geografis</p>
                                    <p>Cari informasi penting dengan sistem informasi geografis </p>
                                </div>
                                <div class="col-md-4 pt-2 text-center">
                                    <img class="align-self-center mr-3 img-fluid rounded"
                                         src="{% static 'assets/images/logo-dark-transparent.png' %}"
                                         width="100" alt="">
                                    <p class="font-size-16 font-weight-bold mt-2 mb-2">Buku Tamu</p>
                                    <p>Buat pencatatan tamu dengan mudah dan cepat</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4" id="helpCenterSection">
                        <div class="col-md-12">
                            <p class="font-size-20 font-weight-bold mt-2 mb-2">Pusat Bantuan</p>
                            <p>Hubungi pusat bantuan jika terdapat kendala</p>
                            <div class="input-group w-50">
                                <input type="email" class="form-control border-color-gray-dark"
                                       placeholder="Masukkan Email Anda" aria-label="checkbox"
                                       aria-describedby="basic-addon5">
                                <button type="submit" class="btn btn-dark">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center p-4 basic-drop-shadow" style="margin-top: 100px;">
                    <div class="media">
                        <img src="{% static 'assets/images/logo-district.png' %}"
                             class="mr-3 avatar-110 img-fluid rounded"
                             alt="#">
                        <div class="media-body">
                            <p class="card-title font-size-20 font-weight-bold">Dinas Pertanahan dan Tata Ruang
                                Kabupaten
                                Sleman</p>
                            <p class="card-text font-size-14 mb-2">
                                <i class="fa fa-building mr-2"></i>
                                <b>Alamat:</b> Jalan Magelang Km. 10, Bangun Rejo, Tridadi, Kec. Sleman, Kabupaten
                                Sleman,
                                Daerah
                                Istimewa Yogyakarta 55511
                            </p>
                            <p class="card-text font-size-14 mb-2">
                                <i class="fa fa-phone mr-2"></i>
                                <b>Telepon:</b> (0274) 868548
                                <i class="fa fa-envelope ml-2 mr-2"></i>
                                <b>E-mail:</b> pertaru@slemankab.go.id
                                <i class="fa fa-fax ml-2 mr-2"></i><b>Fax:</b>
                                (0274) 868548
                            </p>
                            <p class="card-text font-size-14 mb-2">
                                <i class="fa fa-globe mr-2"></i>
                                <b>Situs Web:</b>
                                <a href="https://pertaru.slemankab.go.id">https://pertaru.slemankab.go.id</a>
                            </p><br>
                            <p class="card-text font-size-14 mb-2">
                                <b>Media Sosial:</b>&nbsp;
                                <a href="https://www.facebook.com/dptr.kabupatensleman.7" target="_blank"
                                   style="color: inherit;">
                                    <i class="ui icon facebook f mr-2"></i>
                                </a>Facebook &nbsp;|
                                <a href="https://www.instagram.com/infotataruang_sleman/" target="_blank"
                                   style="color: inherit;">
                                    <i class="ui icon instagram f mr-2"></i>
                                </a>Instagram &nbsp;|
                                <a href="https://www.youtube.com/channel/UC4PxzFGKjC9Z9JlIqdOVblQ" target="_blank"
                                   style="color: inherit;">
                                    <i class="ui icon youtube f mr-2"></i>
                                </a>Youtube
                            </p>
                            <p class="card-text font-size-12 text-secondary">
                                Copyright &copy; 2022, Mkv. All Rights Reserved
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const containerId = '#content-container'
        const index_template = '../templates/easy.html'
        const index_dashboard_button = 'dashboardButton'
        let old_active = '';

        function loadContent(template_path, caller_id) {
            $('#loading').remove() // Remove loader component
            $('body').append(`<div id="loading"><div id="loading-center"></div></div>`)  // Set loader component back
            $(containerId).load(template_path)  // Load content page
            setDisActive()
            setActive(caller_id)
        }

        function setActive(caller_id) {
            $(caller_id).parent().attr('class', 'active sidebar-layout')
            old_active = caller_id
        }

        function setDisActive() {
            $(old_active).parent().attr('class', 'sidebar-layout')
        }
    </script>
</div>
<!-- Wrapper End-->

<!-- Own JavaScript -->
<script src="{% static 'assets/js/jquery/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/global.js' %}"></script>
<script src="{% static 'assets/js/view/index.js' %}"></script>

<!-- Backend Bundle JavaScript -->
<script src="{% static 'assets/js/backend-bundle.min.js' %}"></script>
<!-- Chart Custom JavaScript -->
<script src="{% static 'assets/js/customizer.js' %}"></script>

<script src="{% static 'assets/js/sidebar.js' %}"></script>

<!-- Flextree Javascript-->
<script src="{% static 'assets/js/flex-tree.min.js' %}"></script>
<script src="{% static 'assets/js/tree.js' %}"></script>

<!-- Table Treeview JavaScript -->
<script src="{% static 'assets/js/table-treeview.js' %}"></script>

<!-- SweetAlert JavaScript -->
<script src="{% static 'assets/js/sweetalert.js' %}"></script>

<!-- Vectoe Map JavaScript -->
<script src="{% static 'assets/js/vector-map-custom.js' %}"></script>

<!-- Chart Custom JavaScript -->
<script src="{% static 'assets/js/chart-custom.js' %}"></script>
<script src="{% static 'assets/js/charts/01.js' %}"></script>
<script src="{% static 'assets/js/charts/02.js' %}"></script>

<!-- slider JavaScript -->
<script src="{% static 'assets/js/slider.js' %}"></script>

<!-- Emoji picker -->
<script src="{% static 'assets/vendor/emoji-picker-element/index.js' %}" type="module"></script>


<!-- app JavaScript -->
<script src="{% static 'assets/js/app.js' %}"></script>
</body>
</html>