<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Datum | CRM Admin Dashboard Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../assets/images/favicon.ico"/>

    <link rel="stylesheet" href="../assets/css/backend-plugin.min.css">
    <link rel="stylesheet" href="../assets/css/backend.css?v=1.0.0">
    <link rel="stylesheet" href="../assets/vendor/font-awesome-animation-1.1.1/package/css/font-awesome-animation.css">
    <link rel="stylesheet" href="../assets/vendor/font-awesome-5/css/all.min.css">
    <link rel="stylesheet" href="../assets/vendor/Semantic-UI-master/dist/semantic.min.css">

    <style>
        body {
            font-family: Poppins, serif;
        }
    </style>
</head>
<body>
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->

<div class="wrapper">
    <nav class="navbar navbar-expand-lg navbar-light basic-drop-shadow position-sticky fixed-top p-2"
         style="background-color: #242424;">
        <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="justify-content-start">
            <img class="image ml-lg-5" src="../assets/images/logo-transparent.png" width="50" alt=""
             onclick="location.href='#'">
        <a href="#"><span class="text-white font-weight-bold">Sinta Pertaru</span></a>
        </div>
        <div class="collapse navbar-collapse pb-2" id="navbarTogglerDemo03" style="background-color: #242424;">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            </ul>
            <ul class="nav justify-content-end align-items-lg-center mr-xl-5 font-size-16">
                <li class="nav-item mr-lg-2">
                    <a class="nav-link text-white active" href="#">Beranda</a>
                </li>
                <li class="nav-item mr-lg-2">
                    <a class="nav-link text-white" href="#" data-toggle="tooltip" title="Segera Hadir">Layanan</a>
                </li>
                <li class="nav-item mr-lg-2">
                    <a class="nav-link text-white" href="#" data-toggle="tooltip" title="Segera Hadir">Pusat Bantuan</a>
                </li>
                <li class="nav-item">
                    <button class="btn bg-white rounded-pill " style="font-family: Poppins,serif;">Masuk</button>
                </li>
            </ul>
        </div>
    </nav>
    <div class="iq-comingsoon bg-white">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-sm-8 col-md-7 text-center">
                    <img src="../assets/images/land-map.jpg"
                         class="img-fluid  rounded-normal w-25 pt-5"
                         alt="logo">
                    <p class="mt-4 font-size-32 font-weight-bold mb-1">
                        Selamat Datang di Sinta Dinas Pertanahan dan Tata Ruang</p>
                    <p class="mt-5 font-size-18 font-weight-bold">Keunggulan Layanan</p>
                    <p class="m">Nikmati berbagai keuntungan</p>
                    <div class="row mt-lg-5 justify-content-center">
                        <div class="card align-items-lg-center rounded-pill col-5 mr-4 shadow-bottom">
                            <img src="../assets/images/vector/ok.jpg"
                                 class="img-fluid w-25 rounded-normal"
                                 alt="logo">
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold">Mudah</h5>
                                <p class="card-text">
                                    Kemudahan dalam berinteraksi
                                </p>
                            </div>
                        </div>
                        <div class="card align-items-lg-center rounded-pill shadow-bottom col-5">
                            <img src="../assets/images/vector/flexible.jpg"
                                 class="img-fluid w-25 rounded-normal"
                                 alt="logo">
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold">Fleksibel</h5>
                                <p class="card-text">
                                    Gunakan layanan ini dimanapun anda berada
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center p-4 basic-drop-shadow">
                <div class="media">
                    <img src="../assets/images/logo-district.png" class="mr-3 avatar-110 img-fluid rounded"
                         alt="#">
                    <div class="media-body">
                        <h4 class="card-title">Dinas Pertanahan dan Tata Ruang Kabupaten Sleman</h4>
                        <p class="card-text font-size-14 mb-1">
                            <i class="fa fa-building mr-2"></i>
                            <b>Alamat:</b> Jalan Magelang Km. 10, Bangun Rejo, Tridadi, Kec. Sleman, Kabupaten Sleman,
                            Daerah
                            Istimewa Yogyakarta 55511
                        </p>
                        <p class="card-text font-size-14 mb-1">
                            <i class="fa fa-phone mr-2"></i>
                            <b>Telepon:</b> (0274) 868548
                            <i class="fa fa-envelope ml-2 mr-2"></i>
                            <b>E-mail:</b> pertaru@slemankab.go.id
                            <i class="fa fa-fax ml-2 mr-2"></i><b>Fax:</b>
                            (0274) 868548
                        </p>
                        <p class="card-text font-size-14 mb-1">
                        </p>
                        <p class="card-text font-size-14 mb-1">
                            <i class="fa fa-globe mr-2"></i>
                            <b>Situs Web:</b>
                            <a href="https://pertaru.slemankab.go.id">https://pertaru.slemankab.go.id</a>
                        </p>
                        <br>
                        <p class="card-text font-size-14 mb-1">
                            <b>Media Sosial:</b>&nbsp;
                            <a href="https://www.facebook.com/dptr.kabupatensleman.7" target="_blank"
                               style="color: inherit;">
                                <i class="ui icon facebook f mr-2"></i>
                            </a>Facebook &nbsp;|
                            <a href="https://www.instagram.com/infotataruang_sleman/" target="_blank"
                               style="color: inherit;">
                                <i class="ui icon instagram f mr-2"></i>
                            </a>Instagram &nbsp;|
                            <a href="https://www.youtube.com/channel/UC4PxzFGKjC9Z9JlIqdOVblQ" target="_blank"
                               style="color: inherit;">
                                <i class="ui icon youtube f mr-2"></i>
                            </a>Youtube
                        </p>
                        <p class="card-text font-size-12 text-secondary">
                            All Rights Reserved. Copyright&copy; 2022, Mkv
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Backend Bundle JavaScript -->
<script src="../assets/js/backend-bundle.min.js"></script>
<!-- Chart Custom JavaScript -->
<script src="../assets/js/customizer.js"></script>

<script src="../assets/js/sidebar.js"></script>

<!-- Flextree Javascript-->
<script src="../assets/js/flex-tree.min.js"></script>
<script src="../assets/js/tree.js"></script>

<!-- Table Treeview JavaScript -->
<script src="../assets/js/table-treeview.js"></script>

<!-- SweetAlert JavaScript -->
<script src="../assets/js/sweetalert.js"></script>

<!-- Vectoe Map JavaScript -->
<script src="../assets/js/vector-map-custom.js"></script>

<!-- Chart Custom JavaScript -->
<script src="../assets/js/chart-custom.js"></script>
<script src="../assets/js/charts/01.js"></script>
<script src="../assets/js/charts/02.js"></script>

<!-- slider JavaScript -->
<script src="../assets/js/slider.js"></script>

<!-- Emoji picker -->
<script src="../assets/vendor/emoji-picker-element/index.js" type="module"></script>

<script src="../assets/js/countdown.js"></script>

<!-- app JavaScript -->
<script src="../assets/js/app.js"></script>
<script src="../assets/js/countdown.js"></script>
</body>
</html>